@model WaybillCost.WayBill

@{
    ViewBag.Title = "Compute";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Compute</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>WayBill</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @*<div class="form-group">
                @Html.LabelFor(model => model.priority, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.priority, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.priority, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.type, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.type, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.type, "", new { @class = "text-danger" })
                </div>
            </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.weight, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.weight, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.weight, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
                @Html.LabelFor(model => model.cost, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.cost, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.cost, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.totalcost, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.totalcost, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.totalcost, "", new { @class = "text-danger" })
                </div>
            </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Compute" class="btn btn-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="modal" id="NoModal" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body">
                                <p> Enter number greater than 0 </p>
                            </div>

                            <div class="modal-footer">
                                <input type="submit" value="Close" class="btn btn-primary" id="closemodal" data-dismiss="modal" data-toggle="modal" />
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="modal" id="YesModal" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body">
                                <p> Computed Cost Saved </p>
                            </div>

                            <div class="modal-footer">
                                <input type="submit" value="Close" class="btn btn-primary" id="closemodal" data-dismiss="modal" data-toggle="modal" />
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
}

@if (ViewBag.Message == "NO")
{
    <script type="text/javascript">
        window.onload = function () {
            $('#NoModal').modal('show');
        };
    </script>
}
else if (ViewBag.Message == "YES")
{
    <script type="text/javascript">
        window.onload = function () {
            $('#YesModal').modal('show');
        };
    </script>
}

<div>
    @Html.ActionLink("Back to List", "WayBill")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
